<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-6">
          <form method="POST" action="/body" id="myForm">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
            />
            <button type="submit" class="btn btn-primary mt-3">
              Send data
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      const myForm = document.querySelector('#myForm');
      const usernameInput = document.getElementById('username');

      myForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const data = {
          username: usernameInput.value,
        };

        fetch('/body', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: {
            'Content-Type': 'application/json',
          },
        })
          .then((response) => response.json())
          .then((res) => console.log(res));
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
