<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head', { title: 'Cookies' }); %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/set-cookie">Set cookie</a>
          <br>
          <a href="/clear-cookie">Clear cookie</a>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <%- include('../components/scripts'); %>
  </body>
</html>
